.index {

    height:calc(100vh - 80px);
    background-image: linear-gradient(-134deg, #00BFE7 0%, #05E1F5 100%);
    color: #fff;

    .row {
      margin-top: 51px;
    }

    .wrapper {
      padding-top:28%;
    }

    h1 {
      padding:0;
      margin: 0;
      font-size:4em;
      font-weight:700;
    }

    h2 {
      font-family: OpenSans-Light;
      font-size: 2em;
      margin: 0.5em 0;
    }

}
